<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="DiscordToken" value="#"/>
	</appSettings>
	<connectionStrings>
		<add providerName="MySql.Data.MySqlClient" name="ConnectionStringMS1" connectionString="server=#; user id=test; password=#; database=discord; port=3306; Persist Security Info=false;Convert Zero Datetime=True;"/>
	</connectionStrings>
</configuration>
